/*
Si es el mismo selector, se utiliza el último
en declararse.

Si son diferentes y aplican al mismo elemento,
se ordenan:

orden de importancia -> mayor a menor

(# de ids, # de clases, # de elementos)

ids: #identificador
clases: .clase .otro .com.bi.na.das, :hover

Utilizar !important te regresa al orden de declaración
*/

#contenedor #titulo
{
	color: blue;
}

#titulo
{
	color: purple;
}

.clase3 .clase1:hover
{
	font-family: Arial;
}

.clase1.clase2
{
	font-family: Impact;
}

.clase1
{
	font-family: Times New Roman;
}

div h1
{
	color: gold;
	background-color: orange;
}

h1
{
	color: green !important;
	background-color: red;
}

h1
{
	color: lightgrey !important;
	background-color: red;
}